<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      body {
        background-image: url("https://images.pexels.com/photos/1362909/pexels-photo-1362909.jpeg?auto=compress&cs=tinysrgb&w=1600");        
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }
      h1{
        color: black;
        font-size: 40px;
      }
      h2{
        color: white;
      }
    </style>
  </head>
  <body>
   <center><div style="width:500px; background-color:white; border-radius:5px;"> <h1> Water portability checking</h1></div></center>
       <h2> <marquee behavior="scroll" direction="right">YOUR WATER IS NOT PORTABLE</marquee></h2>



       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
       
        
        <li><a href="{{url_for("predict")}}">back to homepage</a></li>
      <h5><p>copyright &copy; water portability Team</p><h5/>
  </body>
</html>
