<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      body {
        background-image: url("https://images.pexels.com/photos/416528/pexels-photo-416528.jpeg?auto=compress&cs=tinysrgb&w=1600");        
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
      }
      h1{
        color: black;
        font-size: 40px;
      }
      h2{
        color: white;
      }
    </style>
  </head>
  <body>
    
    

    <br><div style="width:470px; background-color:white; border-radius:7px;">  <h1> Water portability checking</h1></div></center>
       <h2> <marquee behavior="scroll" direction="right">YOUR WATER IS PORTABLE </marquee></h2>



       <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
       
        <li><a href="{{url_for("predict")}}">back to homepage</a></li>
       
       <h5><p>copyright &copy; water portability team</p><h5/>
  </body>
</html>
